
<div class="container marginTop center formBorder">

  <form method="POST" action="/artworks/<%= artwork.id %>">
    <div class="field">
      <input type="hidden" name="_method" value="PUT">

      <p>
        <input class="input form-control center" type="text" name="caption" id="caption" placeholder="w r i t e a c a p t i o n . . . " value="<%= artwork.caption %>">
      </p>

      <p class="padding">
        <label for="newKeyword">Add a keyword <small><em>Comma seperated values</em></small></label>
        <input class="input form-control" type="text" name="newKeyword" id="newKeyword">
      </p>

      <div class="padding">
        <% artwork.keywords.forEach((keyword) => { %>
          <input type="checkbox" name="keywords" value="<%= keyword %>" checked="checked"><%= keyword %>
        <% }) %>
      </div>

      <div>
        <button class="btn btn-lg btn-primary">Update</button>
      </div>

    </form>

  </div>
