  <h2 class="historyHeading"><em>looking into the past...</em></h2>
  <img class="fixed formBorder marginTop" src="<%= artwork.imageSRC %>">

  <div class="row">

    <div class="col-md-8 col-sm-6 ">
      <div data-keywords="<%= keywords %>">
      <% keywords.forEach((keyword) => { %>
        <h2 class="fixed"><%= keyword %></h2>
        <% }) %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 main center">

    </div>

  </div>





  <%# ----------------------------------APPEND HISTORYS HERE FOR NOW%>


  <%# --------------------------------------FEATURED IMAGE INFO BOX FROM BOOTY----%>
