
<div class="row">
  <div class="col-sm-6 history-main">
    <h3 class="historyHeading">h i s t o r y   b o o k</h3>
    <img class="formBorder" src="<%= artwork.imageSRC %>">
      <div data-keywords="<%= keywords %>">
        <h3 class="captionText">
          <% keywords.forEach((keyword) => { %>
            <%= keyword %>
          <% }) %>
        </h3>
      </div>
  </div>
  <div class="col-sm-4 col-sm-offset-2 main center">

  </div>
</div>






  <%# ----------------------------------APPEND HISTORYS HERE FOR NOW%>


  <%# --------------------------------------FEATURED IMAGE INFO BOX FROM BOOTY----%>
