<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pariah</title>
  <% include ./partials/stylesheets.ejs %>
</head>
<body>
  <% include ./partials/navbar %>
  <%- body %>
  <% include ./partials/scripts.ejs %>
</body>
</html>
