
<header>
  <h1>P A R I A H</h1>
  <%# <nav>
    <ul class="container">
      <li><a href="/">Home</a></li>
      <li><a href="/artworks/index">Artworks</a></li>
      <li><a href="/artworks/new">Add Artwork</a></li>
    </ul>
  </nav>%>
</header>
