<div class="container">
  <div>
    <h1>Edit</h1>
    <form method="POST" action="/users/<%= user.id %>" enctype="multipart/form-data">
      <div class="field">
        <label class="label" for="username">Username</label>
        <div>
          <input class="input" type="text" name="username" id="username" value="<%= user.username %>">
        </div>
      </div>
      <div class="field">
        <label class="label" for="email">Email</label>
        <div>
          <input class="input" type="email" name="email" id="email" value="<%= user.email %>">
      </div>
      </div>
      <div class="field">
        <label class="label" for="image">Image</label>
        <label class="button is-success" for="image">Choose file</label>
        <input type="file" name="image" id="image" hidden>
      </div>
      <button class="btn btn-is-primary">Update</button>
    </form>
    <hr/>
  </div>
</div>
