



<h1 class="pariah"><%= user.username %></h1>
<div class="container">
  <%# ----------------------------------------BEGIN CAROUSEL%>
  <div class="row">
  <% artworks.forEach((artwork) => { %>
    <div class="card inlineBlock boxShadow" style="width: 20rem;">
    <a href="/artworks/<%= artwork.id %>"><img class="card-img-top" src="<%= artwork.imageSRC %>"></a>
    <div class="card-block">
    </div>
    </div>
    <% }); %>

  </div>
</div>


<footer>
  <form method="POST" action="/users/<%= user.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <button class="btn btn-danger btn-sm center delete">Delete Account</button>
  </form>
</footer>
