h1 {
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }

// -----------------------------PUT IMAGES IN CARDS ON SHOW PAGE
img {
  height: 300px;
  width: 300px;
  border: 2px solid blue;
}
